{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "airbnb",
        "airbnb-typescript",
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "parserOptions": {
        "ecmaVersion": 11,
        "sourceType": "module",
        "project": [
            "./tsconfig.json",
            "./tsconfig.scripts.json",
            "./tsconfig.eslint.json"
        ]
    },
    "rules": {
        "multiline-comment-style": [
            "off",
            "starred-block"
        ],
        "no-trailing-spaces": "error",
        "no-console": "off",
        "@typescript-eslint/lines-between-class-members": [
            "error",
            "always",
            {
                "exceptAfterSingleLine": true
            }
        ],
        "import/prefer-default-export": "off",
        "no-restricted-syntax": [
            "error",
            {
                "selector": "ExportDefaultDeclaration",
                "message": "Do not use default exports. Importing modules must give a name to these values, which can lead to inconsistencies in naming across modules."
            }
        ],
        "class-methods-use-this": "off",
        "no-unreachable": "warn",
        "no-unreachable-loop": "warn",
        "@typescript-eslint/no-empty-interface": [
            "error",
            {
                "allowSingleExtends": true
            }
        ],
        "@typescript-eslint/explicit-member-accessibility": [
            "error"
        ]
    }
}